/***/

.dude td:nth-child(3) {
  background-color: green !important;
}
#date {
  text-align: center;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: black !important;
    text-align: center !important;
}

#boundaries{
  margin-top: 15px;
  margin-left: 5px;
  border: 2px solid black;
}